{% extends './partials/layout.njk' %}
{% set pageTitle = 'Changelog | ' + config.projectName %}

{% block content %}

<div class=" docs-main-section">
  {% if config.docs.changelog %}
  <div class="docs-user-content ">
      <div class="docs-wrapper">
        <h1 class="docs-section-heading">Changelog</h1>
        <div class="docs-changelog">
          {% include './userDocs/changelog.html' %}
        </div>
      </div>
    </div>
  {% endif %}
</div>

{% endblock %}
