{% extends './partials/layout.njk' %}
{% set pageTitle = 'Code Guidelines | ' + config.projectName %}

{% block content %}

<div class="docs-main-section">
  {% if fileContents != '' %}
    {% if fileContents.category %}
      <div class="docs-user-content">
        <div class="docs-wrapper">
          <h1 class="docs-section-heading">Code Guidelines</h1>

          <ul class="accordion">
            <li class="accordion__item">
              <input class="accordion__toggle" type="checkbox" checked>
              <i class="accordion__icon"></i>
              <h2 class="accordion__label">Obsah</h2>
              <div class="accordion__content">
                <div class="js-toc"></div>
              </div>
            </li>
          </ul>

          <div class="js-toc-content">
            {% for category in fileContents.category %}
              <div class="cg-category">
                <h2 class="cg-category__title" id="{{ category.categoryTitle | urlencode }}">
                  {{ category.categoryTitle }}
                </h2>

                {% for subcategory in category.subcategory %}
                  <div class="cg-subcategory">
                    <h3 class="cg-subcategory__title" id="{{ subcategory.subcategoryTitle | urlencode }}">
                      {{ subcategory.subcategoryTitle }}
                    </h3>

                    {% for ruleset in subcategory.ruleset %}
                      <div class="cg-ruleset">
                        {% if ruleset.ruleTitle %}
                        <h4 class="cg-ruleset__title">
                          {{ ruleset.ruleTitle }}
                        </h4>
                        {% endif %}
                        <div class="cg-ruleset__inner">
                          <div class="cg-ruleset__content">
                            {% if ruleset.desc %}
                              <p>{{ ruleset.desc | safe }}</p>
                            {% endif %}
                            {% if ruleset.list %}
                              <ul class="cg-ruleset__list">
                                {% for item in ruleset.list %}
                                  {% if item.item.list %}
                                    <ul>
                                      {% for item in item.item.list %}
                                        <li>{{ item.item | safe }}</li>
                                      {% endfor %}
                                    </ul>
                                  {% else %}
                                    <li>{{ item.item | safe }}</li>
                                  {% endif %}
                                {% endfor %}
                              </ul>
                            {% endif %}
                            {% if ruleset.note %}
                              <p>{{ ruleset.note }}</p>
                            {% endif %}
                          </div>

                          {% if ruleset.snippets %}
                            <div class="cg-ruleset__snippet-wrapper">
                              {% for snippet in ruleset.snippets %}
                                <div class="cg-ruleset__snippet is-{{ snippet.type }}">
                                  {% set path = snippet.address %}
                                  <pre><code class="language-{{ snippet.language }}">{% if 'userDocs/snippets/' + path %}{% include 'userDocs/snippets/' + path ignore missing %}{% endif %}</code></pre>
                                </div>
                              {% endfor %}
                            </div>
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}

                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="docs-content">
        <div class="docs-wrapper">
          <h2>Jak editovat tyto pravidla?</h2>
          <p>Vstupní data, která lze upravit či doplnit se nachází zde: <code>{{ config.docs.codeGuidelines }}</code>. Poté stačí přegenerovat projekt. Jaká je struktura zápisu, co vše a jak lze nastavit se dozvíte v této <a href="">dokumentaci</a>, popř. si stáhněte <a href="">vzorový soubor</a>.</p>
        </div>
      </div>
    {% else %}
      {% set message = {
        'message': 'Vybraný soubor není ve správném formátu. Pravidla musí být napsána podle daného klíče.',
        'status': 'error'
      } %}
      {% include 'partials/code-guidelines-intro.njk' %}
    {% endif %}
  {% else %}
    {% set message = {
      'message': 'Vybraný soubor je zatím prázdný.',
      'status': 'info'
    } %}
    {% include 'partials/code-guidelines-intro.njk' %}
  {% endif %}
</div>

{% endblock %}
