{% extends './partials/layout3.njk' %}
{% set pageTitle = 'Components Docs | ' %}

{% block content %}

<div>
	{% include './componentsDocs/' + componentName + '/' + name + '.html' %}
</div>


{% endblock %}
