{% extends './partials/layout2.njk' %}
{% set pageTitle = 'Components Docs | ' + config.projectName %}

{% block content %}

<div class="docs-main-section">
	<div class="docs-wrapper">
		<h1 class="docs-section-heading">{{ component.title }}</h1>
		{% if component.error is not null %}
			<div class="message message--error">
				<p>{{ component.error }}</p>
			</div>
		{% endif %}
		 {# <p class="docs-section-desc">{{ component.docs.docsDesc }}</p> #}
		 {# <pre class="language-twig"><code>
&#123% include 'path/to/{{ component.title }}.twig' {% if component.includeDataSnippet is not null %}with {
	{{ component.includeDataSnippet }}
			} {% endif %} %}
			</code></pre>

			<iframe class="docs-component__preview" src="examples/{{ component.title }}.html"></iframe> #}

		<ul class="docs-component__list">
			{% for variant in component.componentVariants %}
				<li class="docs-component__item">
					<h2 class="docs-component__title">{{ variant.variantName }}</h2>

					{% if variant.validData == false %}
						<div class="message message--error">
							Ukázka není dostupná, jelikož vstupní data mají nesprávný formát.
						</div>
					{% else %}
						<iframe class="docs-component__preview" src="examples/{{ variant.variantName }}.html"></iframe>
					{% endif %}

					{# <pre><code class="language-html">
						{% include 'componentsDocs/snippets/' ~ component.title ~ '/' ~ variation ~ '.html' %}
					</pre></code> #}

{# <pre><code>{{ variant.includeNestedDataSnippet }}</code></pre> #}

<pre class="language-twig"><code>
	&#123% include 'path/to/{{ component.title }}.twig' {% if variant.includeNestedDataSnippet is not null %}with {
	{{ variant.includeNestedDataSnippet }}
	} {% endif %} %}
</pre></code>
					{# # {% include config.projectRoot ~ '/web/markupDocs/accordion/accordion.html' %} # #}
				</li>
			{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}
