.docs-changelog {
  :first-child {
    border-top: 0;
    padding-top: 0;
  }
  h1, h2 {
    margin-top: $spacingLg;
    border-top: 1px solid $colorBorder;
    padding-top: $spacingLg;
    color: $colorTextMuted;
    font-weight: normal;
    font-size: 1.2rem;
    margin-bottom: $spacingMd;
    a {
      text-decoration: none;
      color: $colorLink;
    }
  }
  h1 {
    a {
      @include type-h1;
    }
  }
  h2 {
    a {
      @include type-h2;
    }
  }
  h3 {
    @include type-h5;
    margin-top: $spacingMd;
    margin-bottom: $spacingSm;
  }
  ul {
    padding-left: 0;
  }
}
