.docs-component {
  &__list {
		list-style-type: none;
		padding-left: 0;
  }
  &__item {
	  margin-bottom: 5rem;
	  &:last-child {
		  margin-bottom: 0;
	  }
  }
  &__title {

  }
  &__preview {
	  width: 100%;
	  border: 1px solid $colorBorder;
  }
}
