.message {
  border: 1px dotted;
  padding: 5px 10px 5px;
  border-radius: 4px;
  &--info {
    border-color: $colorPrimaryLight;
    color: $colorPrimaryDark;
    background: lighten($colorPrimaryLight, 22%);
  }
  &--error {
    border-color: $colorError;
    color: $colorErrorDark;
    background: lighten($colorError, 50%);
  }
}
