// /* Core Styles */

// // To leverage the native smooth-scrolling by the browser (currently available in Firefox 36+ and Chrome 49+)
// // body, .smooth-container { scroll-behavior: smooth }

// .toc {
//   overflow-y: auto;
// }

// .toc > .toc-list {
//   overflow: hidden;
//   position: relative;

//   li {
//     list-style: none;
//   }
// }

// .toc-list {
//   margin: 0;
//   padding-left: 10px;
// }

a.toc-link {
  // color: currentColor;
  height: 100%;
  margin-bottom: 2px;
  text-decoration: none;
  display: inline-block;
}

// .is-collapsible {
//   max-height: 1000px;
//   overflow: hidden;
//   transition: all 300ms ease-in-out;
// }

// .is-collapsed {
//   max-height: 0;
// }

.is-position-fixed {
  position: fixed !important;
  top: 0;
}

.is-active-link {
  color: $colorText;
}

// /* Default Theme Styles */

// // Left line before pseudo element.
// .js-toc2 {
//   .toc-link::before {
//     background-color: #EEE;
//     content: ' ';
//     display: inline-block;
//     height: inherit;
//     left: 0;
//     margin-top: -1px;
//     position: absolute;
//     width: 2px;
//   }

//   .is-active-link::before {
//     background-color: #54BC4B;
//   }
// }

.js-toc-content h1,
.js-toc-content h2,
.js-toc-content h3,
.js-toc-content h4 {
  transition: all 0.5s;
  &:focus {
    color: $colorPrimary;
    outline: 0;
  }
}
