// Toggle
//-------------------------
.toggle {
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: space-between;
	opacity: 0.4;
	cursor: no-drop;
	pointer-events: none;
	padding: 0 16px;
	@include themify($themes) {
		background-color: themed('navBackgroundAlt');
	}
	&__wrapper {
		@include themify($themes) {
			border-top: 1px solid themed('navBorderColor');
		}
	}
	&__label {
		display: flex;
		flex: 1;
		justify-content: space-between;
		padding: 16px 0;
		cursor: pointer;
	}
	&__checkbox {
		@include vishid;
	}
	&__button {
		display: inline-block;
		position: relative;
		margin: 0;
		border-radius: $toggleRadius;
		padding: 0;
		min-height: 48px;
		text-align: center;
		text-decoration: none;
		line-height: 1;
		font-size: 1rem;
		box-shadow: $shadow;
		-webkit-appearance: inherit;
		cursor: pointer;
		&:disabled {
			opacity: 0.4;
			cursor: no-drop;
			pointer-events: none;
		}
		span {
			font-size: 0;
		}
	}

	// VARIANTs
	.index & {
		display: none;
	}
	// STATEs
	&__label {
		.no-js &:hover,
		.no-touchevents &:hover,
		&:focus {
			cursor: pointer;
		}
	}

	&__button {
		.no-js &:hover,
		.no-touchevents &:hover,
		&:active,
		&:focus {
			outline: none;
			text-decoration: underline;
			box-shadow: $shadow;
		}
		&[data-action='aria-switch'] {
			position: relative;
			float: left;
			clear: both;
			transition: background-color 0.1s ease-in-out;
			border: 0;
			width: 65px;
			min-height: 34px;
			overflow: hidden;
			@include themify($themes) {
				background: themed('toggleBgInactive');
			}
			span {
				display: inline-block;
				position: absolute;
				top: 2px;
				transition: all 0.3s;
				border-radius: $toggleButtonRadius;
				width: 30px;
				height: 30px;
				text-transform: uppercase;
				font-weight: bold;
				pointer-events: none;

				@include themify($themes) {
					border: 1px solid themed('navBorderColor');
					background: themed('toggleButtonBg');
				}
			}
			&[aria-checked='true'] {
				@include themify($themes) {
					background: themed('toggleBgActive');
				}
				span {
					left: calc(65px - 30px - 2px);
				}
			}
			&[aria-checked='false'] {
				span {
					left: 2px;
					&::after {
						display: block;
						position: absolute;
						top: 9px;
						right: -28px;
						font-size: 12px;
						content: 'OFF';

						@include themify($themes) {
							color: themed('toggleButtonInactiveLabelColor');
						}
					}
				}
			}
		}
	}

	// PROGRESSIVE ENHANCEMENT
	.js & {
		opacity: 1;
		cursor: pointer;
		pointer-events: auto;
	}
}
