.docs-user-content {
  padding: $spacingLg 0;
  background: rgba(0, 0, 0, 0.03);
  > :first-child {
    margin-top: 0;
  }
  // headings
  h1 {
    @include type-h1;
    margin-bottom: $spacingMd;
  }

  h2 {
    @include type-h3;
    margin-bottom: $spacingMd;
    margin-top: $spacingLg;
  }

  h3 {
    @include type-h4;
    margin-bottom: $spacingMd;
    margin-top: $spacingLg;
  }

  h4 {
    @include type-h5;
    margin-bottom: $spacingMd;
    margin-top: $spacingLg;
  }

  h5 {
    @include type-h6;
    margin-bottom: $spacingMd;
    margin-top: $spacingLg;
  }

  h6 {
    @include type-h6;
    margin-bottom: $spacingMd;
    margin-top: $spacingLg;
  }

  .docs-perex {
    @include type-perex;
  }

  // links
  a {
    color: $colorPrimary;
    font-weight: bold;
  }

  // paragraph and inline styles
  p {
    @include type-base;
    margin: 0 0 $spacingMd;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  sup {
    @include sup;
  }

  sub {
    @include sub;
  }

  pre {
    @include type-pre;
  }

  code {
    @include type-code;
  }

  pre code {
    border: 0;
  }

  // lists
  ul {
    > li {
      margin-bottom: $spacingSm;
    }
  }

  ol {
    @include custom-ol;
  }

  @media($xlUp) {
    margin: 0 ($spacingLg * -1);
  }
}


// Prism overrides
// --------------------------
// pre[class*="language-"],
// :not(pre) > code[class*="language-"] {
//     background: none;
//     background: palette(black);
//     // padding: 0 $spacing $spacing;
// }

// /* Code blocks */
// pre[class*="language-"] {
//     border-radius: 0;
//     border: 0;
//     box-shadow: none;
//     // margin: ($spacing-s * -2) 0 ($spacing * 1.5);
//     overflow: auto;
// }

// pre[class*="language-"]::-moz-selection {
//     /* Firefox */
//     background: none;
// }

// pre[class*="language-"]::selection {
//     /* Safari */
//     background: none;
// }

