<!DOCTYPE html>
<html lang="cs" class="no-js">
	<head>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

		<title>Styleguide by SUPERKODERS</title>

		<link rel="stylesheet" href="css/sk-styleguide.css" media="screen">

		<script>
			(function () {
				var className = document.documentElement.className;
				className = className.replace('no-js', 'js');
				document.documentElement.className = className;
			}());
		</script>
	</head>
	<body class="theme {% if config.settings.theme %}theme--{{ config.settings.theme }}{% endif %}">
			{#
				js-nav-keyboard enables keyboard navigation
				js-nav-highlight enables active link highligting
			#}
			{% include './partials/nav.njk' %}
			{% block content %}{% endblock %}

			<script src="js/styleguide.js"></script>
	</body>
</html>
