<div class="docs-content">
  <div class="docs-wrapper">
    <h1>Code Guidelines</h1>

    {% if message %}
      <p class="message message--{{ message.status }}">
        {{ message.message }}
      </p>
    {% endif %}

    <h2>Jak nastavit vlastní pravidla?</h2>
    <p>Jsme rádi, že vám záleží na kvalitním výstupu a chcete si stanovit pravidla dobrého kódování a držet se jich. Mít je na očích je super začátek. Jak je sem tedy dostat?</p>
    <ol>
      <li>Pročtěte se <a href="">dokumentaci</a>, ať víte, co máte k dispozici a stáhněte si <a href="">vzorový soubor</a>.</li>
      <li>Gulp tasku <code>skstyleguide</code> nastavte cestu k tomuto souboru. Jak na to je v dokumentaci pluginu.</li>
      <li>Projekt spusťe a ujistěte se, že dokumentace běží. Poté už podle svých potřeb pravidla editujte. Změny se projeví po znovuspuštěném projektu. Případně si můžete nastavit watcher, aby hlídal i změny tohoto souboru a přegeneroval styleguide automaticky.</li>
    </ol>
  </div>
</div>
