{% macro iconSVG(id, classes) %}
<span class="icon-svg icon-svg--{{ id }} {{classes}}">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="../img/bg/icons-svg.svg#icon-{{ id }}" x="0" y="0" width="100%" height="100%"></use> {# todo: dynamic path #}
	</svg>
</span>
{% endmacro %}

<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>{{ pageTitle }}</title>
		<link rel="stylesheet" href="./css/sk-styleguide.css" media="screen">
	</head>
	<body>

		{% block content %}{% endblock %}

		<script src="./js/styleguideIframe.js"></script>
	</body>
</html>
