@mixin themify($themes: $themes) {
	@each $theme,
	$map in $themes {
		.theme--#{$theme} & {
			$theme-map: () !global;
			@each $key,
			$submap in $map {
				$value: map-get(map-get($themes, $theme), '#{$key}');
				$theme-map: map-merge($theme-map, ($key: $value)) !global;
			}
			@content;
			$theme-map: null !global;
		}
	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}

@mixin navTransform {
	transform: translateX(-97%);
	transition: all 0.15s linear;
	opacity: 0;
}

@mixin vishid {
	position: absolute;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}