// include stylesheet and add `debug-view` class to `body` (available toggle in nav sidebar)

/* Empty Elements */
.debug-view div:empty,
.debug-view span:empty,
.debug-view li:empty,
.debug-view p:empty,
.debug-view td:empty,
.debug-view th:empty {
	border: 5px dotted rgb(255, 0, 119) !important;
	padding: 5px;
}

/* Empty Attributes */
.debug-view *[alt=""],
.debug-view *[title=""],
.debug-view *[class=""],
.debug-view *[id=""],
.debug-view a[href=""] {
	border: 5px solid rgb(255, 0, 119) !important;
}

/* Deprecated Elements */
.debug-view applet,
.debug-view basefont,
.debug-view center,
.debug-view dir,
.debug-view font,
.debug-view isindex,
.debug-view menu,
.debug-view s,
.debug-view strike,
.debug-view u {
	border: 5px dotted red !important;
}

/* Deprecated Attributes */
.debug-view *[background],
.debug-view *[bgcolor],
.debug-view *[clear],
.debug-view *[color],
.debug-view *[compact],
.debug-view *[noshade],
.debug-view *[nowrap],
.debug-view *[size],
.debug-view *[start],.debug-view *[bottommargin],
.debug-view *[leftmargin],
.debug-view *[rightmargin],
.debug-view *[topmargin],
.debug-view *[marginheight],
.debug-view *[marginwidth],
.debug-view *[alink],
.debug-view *[link],
.debug-view *[text],
.debug-view *[vlink],.debug-view *[align],
.debug-view *[valign],.debug-view *[hspace],
.debug-view *[vspace],
// .debug-view *[height],
// .debug-view *[width],
.debug-view ul[type],
.debug-view ol[type],
.debug-view li[type] {
	border: 5px solid red !important;
}

/* Proposed Deprecated Elements */
.debug-view input[type="button"],
.debug-view big,
.debug-view tt {
	border: 5px dotted #33FF00 !important;
}

/* Proposed Deprecated Attributes */
.debug-view *[border],
.debug-view table[cellpadding],
.debug-view table[cellspacing] {
	border: 5px solid #33FF00 !important;
}


// all the form elements should be inside this box
// it works inversly, it shows where form actually is and we should be checking, whether there are any form elements on their own.
.debug-view form {
	border: 5px solid rgb(21, 101, 1) !important;
}