//-------------------------
// Grid view
//-------------------------
//
// How to configure and use grid overlay:
//
// 1) Pick grid type
//    there can be different kinds of grid.
//    So far we use only SK grid with fixed gutters and fluid columns.
//    Therefore, only available option is this one.
//    We can extend with new ones, when needed.
// 2) Remove other grid types, because they're redundant
// 3) Set the given $type to 'true'
//    Like that, correct css will be generated
// 4) Configure variables
//    Sizes, widths, column amounts or color/transparency.
//    It is possible to configure more grids independently based on responsivity
// 5) Turn grid on/off in nav sidebar in the browser

//-------------------------
// Settings
//-------------------------
// $type1:
// 		- fluid columns
// 		- fixed gutter
// 		- gutter on the left, negative margin on the left
//-------------------------
$type1: true;

//-------------------------
// Grid view's code
//-------------------------
.grid-view {
	position: relative;
	clear: both;

	@if ($type1 == true) {
		// Layout settings
		$content-max-width: 1280px;
		$column-amount: 6;
		$gutter-size: 20px;
		$column-size: (100% / $column-amount);

		// Visual settings
		$grid-tint: #ad0000;
		$grid-opacity: 0.05;

		// @media ($mdUp) {
			$column-amount: 12;
			$column-size: (100% / $column-amount);
		// }

		// grid columns
		&::before {
			display: block;
			position: fixed;
			top: 0;
			right: $gutter-size;
			bottom: 0;
			left: 0;
			opacity: $grid-opacity;
			z-index: 10000;
			margin: 0 auto;
			background: repeating-linear-gradient(90deg, transparent 0%, transparent $gutter-size, $grid-tint $gutter-size, $grid-tint $column-size) 50% no-repeat;
			background-position: left top;
			max-width: ($content-max-width - $gutter-size);
			content: '';
			pointer-events: none;
		}
	}
}
