{% extends './tpl/layout-sg.njk' %}
{% set pageTitle = 'SG index' %}

{% block content %}

<iframe class="iframe" src="./about-styleguide.html" frameborder="0" id="my-iframe"></iframe>

{% endblock %}
